<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  constructor-based DI/setter-based DI  -->
    <bean id="service" class="com.example.demo.javaconfig.Service" >
        <constructor-arg ref="dataSource" />
    </bean>
    <bean id="dataSource" class="com.example.demo.javaconfig.DataSource" />


</beans>